---
layout: page
title: Derniers articles
tagline:
---

{% include JB/setup %}

<div class="posts">
  {% for post in paginator.posts %}

    <div class="post">
      <div class="row-fluid">

<!--         <div class="span2 date-link hidden-phone">
          {{ post.date | date: "%d %h" }} <span>{{ post.date | date: "%Y" }}</span>
        </div> -->

        <div class="span12">

          <div class="post-header">
            <h1><a href="{{ BASE_PATH }}{{ post.url }}">
              {% if post.tags.first == 'Statut' %}
                <i class="icon-bullhorn"></i> {{ post.content }}
              {% else %}
                {{ post.title }} {% if post.tagline %} <small>{{ post.tagline }}</small>{% endif %}
              {% endif %}
            </a></h1>
            <div class="date"><span>{{ post.date | date_to_long_string }}</span></div>
          </div>

          {% unless post.tags.first == 'Statut' %}
          <div class="post-content">
            {% if post.tags.first == 'Lien'%}
              {{ post.content }}
              <p><a href="{{ post.meta.postalicious_href }}">Aller sur le site &rarr;</a> </p>
            {% else %}
              {{ post.content }}
            {% endif %}
          </div>
          {% endunless %}

        </div>


      </div>

    </div>


  {% endfor %}
</div>

<hr>
<div class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li class="prev"><a href="/page{{ paginator.previous_page }}" title="Page précédente">&larr; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
    <li><a>Page {{paginator.page}} sur {{paginator.total_pages}}</a></li>
    <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
  {% if paginator.next_page %}
    <li class="next"><a href="/page{{ paginator.next_page }}" title="Page suivante">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
  </ul>
</div>
<hr>

